div.nav_link {
    display: flex;

    font-weight: bold;
    font-size: 1.2rem;
}

div.nav_link:hover {
    cursor: pointer;
}


/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    div.nav_link {
        font-size: 1.1rem;
    }
}

/* Phone */
@media only screen and (max-width: 768px) {
    .nav_link.hidden_mobile {
        display: none;
    }

    div.nav_link {
        font-size: 1.05rem;
    }
}