.text_with_icon {
    display: flex;
    align-items: center;
}

.text_with_icon_link:hover {
    cursor: pointer;
}

.text_with_icon .text_with_icon_img {
    height: 2em;
    width: auto;
    margin-right: 0.75em;
}


/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
}

/* Phone */
@media only screen and (max-width: 768px) {
}
