.link_button {
    --base-link-button-font-size: 1.4rem;
    --base-link-button-font-weight: 500;


    display: block;
    padding: 1.5rem 2rem;
    margin: 4rem 0 2rem 0;
    width: fit-content;

    background-color: white;

    color: var(--isaelles-deep-blue);
    font-size: var(--base-link-button-font-size);
    font-weight: var(--base-link-button-font-weight);

    transition: all 0.25s ease-in-out;
}

.link_button:hover, .link_button:active{
    cursor: pointer;
    background-color: var(--isaelles-deep-blue);
    color: white;
}