.hero {
    width: 100%;
    padding: 0;
    margin: 2.8rem 0 0 0;



    display: flex;
    flex-direction: column;

}

.hero .hero_logo {
    width: calc(100% - 1rem);
    margin: 0 auto;
}

.hero .hero_inner {
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    position: relative;

    z-index: 1;
}

.hero .hero_inner * {
    z-index: 1;
}

.hero .hero_inner .hero_white_background {
    position: absolute;
    width: 150%;
    height: 135%;
    left: -25%;

    z-index: 0;

    background-color: white;
    border-radius: 50%;
    
}

.hero img{
    width: 100%;

    object-fit:cover;
}

.hero .hero_catch_phrase {
    font-weight: bold;
    font-size: 2.7rem;
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .hero .hero_catch_phrase {
        font-size: 2rem;
    }
}

/* Phone */
@media only screen and (max-width: 768px) {
    .hero .hero_catch_phrase {
        font-size: 1rem;
    }
}