.subtitle_banner {
    background-color: var(--isaelles-white);

    padding: 2rem 0;
    text-transform: uppercase;
    letter-spacing: 6px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subtitle_banner .subtitle {
    font-size: var(--isaelles-subtitle-font-size);
}