.contacts_section {
    --contacts-font-size: 1.8rem;
    --contacts-font-weight: 500;

    background-color: var(--isaelles-light-blue);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5rem;
}

.contacts_section .logo {
    width: 70%;
    max-width: 28rem;
}

.contacts_section .contacts{
    width: 75%;
    margin: 6rem auto 4rem auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 


.contact {
    font-size: var(--contacts-font-size);
    font-weight: var(--contacts-font-weight);
}

.contact.contact_facebook {
    color: var(--isaelles-deep-blue);
}

.contact.contact_twitter {
    color: var(--isaelles-magenta);
}

.contact.contact_linkedin {
    color: var(--isaelles-pink);
}

.contact.contact_adress {
    color: white;
}

.contacts_section .button_contact {
    display: block;
    padding: 1.5rem 2rem;
    margin: 4rem 0 2rem 0;

    background-color: white;

    color: var(--isaelles-deep-blue);
    font-size: var(--contacts-font-size);
    font-weight: var(--contacts-font-weight);

    transition: all 0.25s ease-in-out;
}
.contacts_section .button_contact:hover{
    cursor: pointer;
    background-color: var(--isaelles-deep-blue);
    color: white;
}


/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
}

/* Phone */
@media only screen and (max-width: 768px) {
}
