.only_mobile {
  display: none;
}

.main_top_blob {
    width: 7vw;
    top: 4vw;
    right: 0;
}
.main_top_blob_2 {
    width: 35vw;
    margin-top: -18vw;
    right: 0;
}

/* Big Tablets */
@media only screen and (min-width: 1200px) and (max-width: 1450px) {
    .main_top_blob{
        width: 6vw;
        top: 15vw;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .main_top_blob{
        width: 6vw;
        top: 15vw;
    }
}

/* Phone */
@media only screen and (max-width: 768px) and (min-width: 500px) {
    .main_top_blob_2{
        width: 80vw !important;
        margin-top: -80vh !important;
    }
}
@media only screen and (max-width: 768px) {
    .main_top_blob{
        width: 6vh;
        top: 10vh;
    }
    .main_top_blob_2{
        width: 90vw;
        margin-top: -60vh;
    }

    .only_mobile {
        display: unset;
    }
    .hidden_mobile {
        display: none;
    }
}
