@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

body {
  --isaelles-deep-blue: #2b2171;
  --isaelles-deep-blue-transparent: #2b217130;
  --isaelles-magenta: #a25ca1;
  --isaelles-pink: #e71e80;

  --isaelles-light-blue: #d6e2fa;
  --isaelles-cameo-pink: #e8b9cf;


  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  font-size: 16px;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-pink {
  color: var(--isaelles-pink);
}
.color-deep-blue {
  color: var(--isaelles-deep-blue);
}

.color-magenta {
  color: var(--isaelles-magenta);
}


* {
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
