@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

html {
  font-size: 16px;
  position: relative;
  /* overflow-x: hidden; */
}
@media only screen and (min-width: 1250px){
  /* html {
    font-size: 13px;
  } */
}

body {
  /* overflow-x: hidden; */
  --isaelles-deep-blue: #2b2171;
  --isaelles-deep-blue-transparent: #2b217130;
  --isaelles-magenta: #a25ca1;
  --isaelles-pink: #e71e80;

  --isaelles-cameo-pink: #e8b9cf;
  --isaelles-light-blue: #d6e2fa;


  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  font-size: 16px;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-pink {
  color: var(--isaelles-pink);
}
.color-deep-blue {
  color: var(--isaelles-deep-blue);
}

.color-magenta {
  color: var(--isaelles-magenta);
}


* {
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scale-5prc {
  transition: transform 0.2s ease-in-out;
}
.scale-5prc:hover {
  transform: scale(1.05);
}

.scale-2prc {
  transition: transform 0.2s ease-in-out;
}
.scale-2prc:hover {
  transform: scale(1.02);
}